* {
    margin: 0;
}

body {
    background: lightgoldenrodyellow;
}

body .sidebar {
    width: 30%;
    height: calc(100vh - 50px);
    float: left;
    border-right: 1px solid #d4d4d4;
}

body .content {
    width: 70%;
    height: calc(100vh - 50px);
    float: left;
}